USE [Identity]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2026-06-27 23:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account] [varchar](16) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[create_at] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [account], [password_hash], [create_at]) VALUES (6, N'Audin', N'$argon2id$v=19$m=65536,t=3,p=1$ITJhKCy6hLt/2LJ19u+CMA$V/V08mKlsaijetfIcFAGReIrDvPobMxwfvDKo6g4+3A', CAST(N'2026-06-27T23:32:37.9100000+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_user]    Script Date: 2026-06-27 23:39:06 ******/
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [IX_user] UNIQUE NONCLUSTERED 
(
	[account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
